

body {
    background: rgb(228, 250, 255);
}

img {
    width: 90vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1 {
    text-align: center;
}
