
h1 {
    margin: 50px;
    color: #0372B2;
    font-size: 50px;
    font-family: "OCR A Extended", monospace;
    text-align: center;
}

h2 {
    margin: 50px;
    color: #0372B2;
    font-size: 30px;
    font-family: "OCR A Extended", monospace;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(228, 250, 255);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    width: 500px;
    /*font-size: 20px;*/
}
input[type="submit"] {
    background-color: #0372B2;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #08BDBA;
}
input[type="submit"]:active {
    background-color: #0372B2;
}
input[type="text"]:focus {
    border: 1px solid #0372B2;
}
input[type="text"]::placeholder {
    color: #0372B2;
}
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #08BDBA;
}
input[type="submit"] {
    background-color: #0372B2;
    color: white;
}
input[type="submit"]:hover {
    background-color: #08BDBA;
}
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #08BDBA;
}

input[type="submit"] {
    background-color: #0372B2;
    color: white;
}
input[type="submit"]:hover {
    background-color: #08BDBA;
}


button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #0372B2;
    color: white;
    text-align: center;
    /*margin-left: 40%;*/
}

a {
    text-align: center;

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: "OCR A Extended", monospace;
}

.button_delete {
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #0372B2;
    color: white;
    text-align: center;
    width: 200px;
}

.testeuuu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.class {
    margin: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 250px;
    border-radius: 10px;
    margin: 0 0 0 120px;
}